
<div class="container-fluid d-flex animated fadeIn flex-column h-auto " style="min-height: 100%">

    <div class="row text-center shadow p-2 bg-white" >
      <div class="col-12">
        <h1>JWT Angular</h1>
      </div>
    </div>

  <div class="container mt-5 my-auto h-75 " style='min-height: 600px;'>
    
    <div class="row mt-5 justify-content-around">

      <div class="text-center col-md-5 border-sm-top col-lg-5 col-sm-11 col-11 h-50 order-lg-1 order-lg-1 order-md-1 order-sm-2 order-2 p-4">
        <h1>Built with</h1>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati velit amet enim distinctio quisquam aliquam quis quibusdam commodi ut a.
            </p>
        
        <div class="row justify-content-center align-content-center">
            <div class="col-md-6 col-lg-6 col-sm-8 col-8 p-2 d-flex">
                <img src="../assets/angular.png" class="img-fluid m-auto" alt="">
              </div>
  
              <div class="col-md-6 col-lg-6 col-sm-8 p-2 d-flex">
                <img src="../assets/bootstrap.png" class="img-fluid m-auto" alt="">
              </div>
              
                <div class="col-md-6 col-lg-6 col-sm-8 p-2 d-flex">
                  <img src="../assets/mongo.png" class="img-fluid m-auto" alt="">
              </div>
  
              <div class="col-md-6 col-lg-6 col-sm-8 p-2 d-flex">
                    <img src="../assets/node.png" class="img-fluid m-auto" alt="">
              </div>
        </div>

      </div>

      <div class="col-md-5 col-lg-5 col-sm-11 col-11 shadow p-4 order-lg-2 order-md-2 order-sm-1 order-1 bg-white">
        <router-outlet name="auth"></router-outlet>
      </div>
    
    </div>

  </div>

  <div class="row text-center justify-content-center bg-white shadow " >
    <div class="col-12">
      <h3>JWT</h3>
    </div>
  </div>

</div>

